/* 
    Document   : my-slider
    Created on : 2014-03-17, 18.34.23
    Author     : Vytautas
    Description:
        Purpose of the stylesheet follows.
*/

#sliderFrame { 
    position:relative;
    width:450px;
    height:350px;
    overflow:hidden;
    margin-bottom:10px;
}
#slider {
    width:100000px;
    height:270px;
    position:absolute;
}
#slider .slide {
    background-position:center center;
    background-repeat:no-repeat;
    float:left;
    display:block;
    text-decoration:none;
    width:450px;
    height:270px;
}


