#fileManager_content {
	overflow:hidden;
}
#fileManager_content a {
}

#fileManager_content .current_folder {
	margin-bottom:5px;
}
.fmng_folder {
	background-color:#e5ca78;
}
.fmng_folder, .fmng_file {
	display:block;
	text-decoration:none;
	float:left;
	width:50px;
	height:50px;
	margin:3px;
	box-shadow:0 0 3px #999;
	position:relative;
	border-radius:2px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center center;
}
.fmng_folder:hover, .fmng_file:hover {
	box-shadow:0 0 3px #000;
}
.fmng_folder em, .fmng_file em {
	color:#FFF;
	position:absolute;
	width:100%;
	left:0px;
	bottom:0px;
	font-size:9px;
	padding:2px;
	text-align:center;
	text-shadow:1px 1px 1px #000;

	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.52) 0%, rgba(0,0,0,0.31) 40%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.52)), color-stop(40%,rgba(0,0,0,0.31)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 40%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 40%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 40%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to top,  rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 40%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#85000000',GradientType=0 ); /* IE6-8 */
	
}