.grid_area {
	width:100%;
	/*border-collapse:collapse;*/
}
.grid_area thead {
	border:none;
}
.grid_area tbody {
}
.grid_area tbody tr {
	
}
.grid_area tr.item {
	border:0px solid #F00;
}
.grid_area tr.item td.column, .grid_area tr.header td.column {
	overflow:hidden;
	/*float:left;*/
	padding:2px;
	margin:0px;
}
.grid_area tr.item td.column {
	border:1px solid #E8E8E8;
	border-bottom:1px solid #DDD;
	border-right:1px solid #DDD;
	background:#F3F3F3;
	margin:1px;
	margin-top:0px;
	margin-bottom:0px;
	vertical-align:middle;
}
.grid_area tr.item:hover td.column {
	background:#E3E3E3;
}
.grid_area tr.selected td.column {
	background:#D3F3D3 !important;
}
.grid_area tr.selected:hover td.column {
	background:#C3E3C3 !important;
}

.grid_area tr.a div.edit, .grid_area tr.item div.edit {
	background:#FFFFFF !important;
	border:1px solid #AAA !important;
}
.grid_area tr.sep, .grid_area tr.sep-active {
	height:0px;
	line-height:0px;
	font-size:0px;
	border:0px solid #000;
}
.grid_area tr.sort_active div.column {
	background:#FF0000 !important;
}
.grid_area tr.header {
	border:0px solid #00F;
}
.grid_area tr.header td.column {
	color:#FFF;
	border-bottom:2px solid #9b9a9a;
	font-weight:normal;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	z-index:10;
	text-shadow:1px 1px 0 #666;
}
.grid_area tr.header td.column {
	
	background-color: #cacaca;
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #cacaca, #9b9a9a);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #cacaca, #9b9a9a);
	/* IE 10 */
	background: -ms-linear-gradient(top, #cacaca, #9b9a9a);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #cacaca, #9b9a9a);		
}
.grid_area tr.header td.over {
	border-bottom:2px solid #f9a049 !important;
	/*background:#EEE !important;*/
}
.grid_area tr.header td.column div.th {
	position:relative;
	padding:4px;
	padding-bottom:2px;
}
.grid_area tr.header td.column div.resize_column {
	/*cursor:e-resize;*/
	width:4px;
	height:23px;
	right:-2px;
	top:0px;
	border:0px solid #F00;
	position:absolute;
	z-index:11;
	margin:0px;
	display:none;

	background-color: #cacaca;
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #cacaca, #9b9a9a);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #cacaca, #9b9a9a);
	/* IE 10 */
	background: -ms-linear-gradient(top, #cacaca, #9b9a9a);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #cacaca, #9b9a9a);		
}
.grid_area tr.header td.column .col_ {
	position:relative;
}
.grid_area tr.header td.column label {
	/*padding-left:12px;*/
	white-space:nowrap;
	overflow:hidden;
}
.grid_area tr.header td.column div.sorter {
	position:absolute;
	right:0px;
	top:-5px;
}
.grid_area tr.header td.column div.sorter div {
	padding:1px 3px;
	height:6px;
}
.grid_area tr.header td.over div.sorter {
	display:block !important;
}

.list_item_value {
	border:0px solid #000;
}
.list_item_filter {
	margin:0px;
	padding:0px;
	position:relative;
}
.clear_filter {
	position:absolute;
	right:0px;
	top:0px;
}
.list_item_edit {
	display:none;
	margin:0px;
	padding:0px;
	background:#FFF !important;
	position:relative;
}
.list_item_filter input, .list_item_edit input {
	width:100%;
	margin:0px;
	padding:0px;
	border:none;
	font-size:10px;
	font-family:Tahoma;
}
.list_item_filter input.date {
	width:30px;
	cursor:pointer;
} 
.list_item_edit input.date {
}
.list_item_filter select, .list_item_edit select {
	width:100%;
	padding:0px;
	margin:0px;
	border:none;
	font-size:10px;
	font-family:Tahoma;
}
.list_item_filter select {
	font-size:8px;
}
.list_item_edit textarea {
	width:100%;
	position:relative;
	height:100%;
	border:none;
	overflow:auto;
	margin:0px;
	padding:0px;
	font-size:11px;
	font-family:Tahoma;
}
.list_item_edit .edit_text_save {
	position:absolute;
	bottom:2px;
	right:2px;
	text-align:right;
	display:none;
}
.list_item_edit:hover .edit_text_save {
	display:block;
}
.list_item_edit .edit_text_save a {
	background:#CCC;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}
.edit_text_save a {
	text-decoration:none;
	color:#000;
	font-size:11px;
}
.w10 {
	width:10px !important;
}

.paging {
	margin:5px 0px;
}
.paging a {
	background:#EEE;
	color:#000;
	padding:2px 4px;
	text-decoration:none;
}
.paging a:hover {
	background:#DDD;
}
.paging a.a {
	background:#FFF;
	color:#000;
}
.display_paging {
	border:1px solid #DDD;
	background:#EEE;
	padding:7px;
	position:absolute;
	right:15px;
	z-index:20;
}