ul.tree {
	list-style:none;
	padding:0px;
	margin:0px;
}
ul.tree ul {
	padding-left:18px;
}
ul.tree li {
	white-space:nowrap;
	margin:0px 0px;
}
ul.tree li table {
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}
ul.tree li table td {
	padding:0px;
	margin:0px;		
}
ul.tree li .sep {
	height:4px;
	font-size:0px;
	background-image:url('admin/images/tree/line1.gif');
        background-repeat:repeat-y;
}
ul.tree li .last {
	background-image:none !important;
}
ul.tree li > .child_branch, ul.tree li.not_last > .child_branch {
	background-image:url('admin/images/tree/line1.gif');
        background-repeat:repeat-y;
}
ul.tree li.last > .child_branch {
	background-image:none;
}

ul.tree > li > table a.sub {
	background-image:url('admin/images/tree/plus.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li.last > table a.sub {
	background-image:url('admin/images/tree/plus_last.gif');
        background-position:center center;
        no-repeat;
}
ul.tree > li.not_last > table a.sub {
	background-image:url('admin/images/tree/plus.gif');
        background-position:center center;
        background-repeat:no-repeat;
}

ul.tree > li > table a.loading {
	background-image:url('admin/images/tree/loading.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li > table a.opened {
	background-image:url('admin/images/tree/minus.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li.last > table a.opened {
	background-image:url('admin/images/tree/minus_last.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li.not_last > table a.opened {
	background-image:url('admin/images/tree/minus.gif');
        background-position:center center;
        background-repeat:no-repeat;
}

ul.tree > li > table a.no_sub {
	background-image:url('admin/images/tree/line.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li.last > table a.no_sub {
	background-image:url('admin/images/tree/line_last.gif');
        background-position:center center;
        background-repeat:no-repeat;
}
ul.tree > li.not_last > table a.no_sub {
	background-image:url('admin/images/tree/line.gif');
        background-position:center center;
        background-repeat:no-repeat;
}



ul.tree li span {
	display:block;
	min-height:2px;
}
.hovered {
	background-color:#AAA;
	color:#FFF;
}
.hovered_sep {
    background-color:#A00;
}
ul.tree li img {
	border:none;
	padding:0px;
	margin:0px;
}
ul.tree li a.extract, ul.tree li a.leaf {
	display:block;
	width:18px;
	height:18px;
}
ul.tree li a.extract {
	
}
ul.tree li a.extract:hover, ul.tree li a.leaf:hover {
	text-decoration:none;
}
ul.tree li a {
	padding:0px;
	cursor:pointer;
	color:#666;
	font-size:10px;
	font-family:Verdana;
	text-decoration:none;
	display:block;
}
ul.tree li a:hover {
	text-decoration:underline;
}
ul.tree li a.active, .item-active a {
	background:#989898;
	color:#FFF;
}
.item-active li a {
	background:none;
	color:#000;
}
ul.tree li a.striketrough {
    text-decoration:line-through;
}